body {
    font-family: Arial, Helvetica, sans-serif;
}

.filter-container {
    display: flex;
    align-items: center;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.transactions-container {
    margin: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.transaction-info {
    display: flex;
    flex-direction: row;
}

.all-transactions {
    margin-top: -25px;
}

.each-transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.transaction-item {
    margin: 0;
    margin-right: 10px;
    padding: 5px 0;
}

.comment {

}

.heading {
    margin: 5px;
}

.transaction-button {
    padding: 5px 10px;
    font-size: 15px;
    width: auto;
    height: auto;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.item-button {
    font-size: 10px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.total-amount {
    position: sticky;
    bottom: 0;
    background-color: #f9f9f9;
    padding: 5px 0;
}

@media (max-width: 768px) {
    .transactions-container, .transaction-info, .each-transaction {
        flex-direction: column;
    }

    .each-transaction {
        align-items: flex-start;
    }

    .item-button {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .transaction-button {
        font-size: 0.8em;
        padding: 5px;
    }

    .item-button {
        font-size: 0.7em;
        padding: 5px;
    }
}




